# Data Manipulation
pandas
numpy

# Machine Learning & Embeddings
sentence-transformers
scikit-learn # can't use directly, should use numpy and or torch for final implementation
torch

# Web Application (Required for Demo)
streamlit

# Utilities
pathlib